{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block main %}
<div class="container" style="
        width: 80%;
        padding:25px;
        height:100%;
        max-width:600px;
        min-width:350px;
        margin: 20px auto;
        ">

        <div class="clearfix">
            
            <h2 style="font-size:color:#FF767F;font-family:'Quicksand';">{{ wishlist_id }}
            <button class="btn btn-default" style="float:right" type="submit">+ Add Item</button>
            </h2>
        </div>
        <hr />

        <div id="my_items" style="clear:both;">
        
        <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" style="height:65px" src={{ url_for('static', filename='uploads/online.png' ) }} alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>

    </div>
        
        <br />
    </form>
</div>
{% endblock %}