{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block main %}
<div class="container" style="
        width: 60%;
        padding:25px;
        height:100%;
        max-width:600px;
        min-width:350px;
        margin: 20px auto;
        ">
    
    <div id="header_wishlists" >
        <h2 style="float:left;"> My Wishlists </h2>
            <button class="btn btn-default" style="float:right" type="submit">+ New Wishlist</button>
    </div>
    <br>
    <br>
    <br>
    <div id="my_wishlists">
        <div  
        style="
        height: 50px;
        border: 1px solid #FFAAAA;
        margin: 2px;
        border-radius : 5px;
        ">
            My Private Stuff
        </div>
        <div style="
        height: 50px;
        border: 1px solid #FFAAAA;
        margin: 2px;
        border-radius : 5px;
        ">
            Books
        </div>
        <div style="
        height: 50px;
        border: 1px solid #FFAAAA;
        margin: 2px;
        border-radius : 5px;
        ">
            Games
        </div>
        <div style="
        height: 50px;
        border: 1px solid #FFAAAA;
        margin: 2px;
        border-radius : 5px;
        ">
            Birthday List
        </div>
    </div>
</div>
{% endblock %}